In [1]:
from textblob import TextBlob

In [23]:
a = str(input(''))
b = TextBlob(a)
if b.polarity < 0:
    print('negative sentiment')
elif b.polarity > 0:
    print('positive sentiment')
else:
    print('neutral sentiment')

someon need make car payment ... truli aw ... make jean claud 's cyborg look like gone wind ... hour I wish I could sue get back ... luckili produc sever somnol ... I fell asleep . actor calib creat dog I would rather spend time watch alga grow side fish tank partak wholli aw concoct sever genr . I use dvd coaster coffe tabl . 5.99 walmart far much spend movi ... realli wait till throw carri inventori sever year frustrat would sell. br > br > pleas love god let movi die obscur .
positive sentiment

In [3]:
import pandas as pd
import os
import numpy as np
import nltk

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shoun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shoun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
os.chdir('C:\\Users\\shoun\\Coding\\Datasets\\Movie Ratings')

In [7]:
df5 = pd.read_csv('Valid.csv')

In [8]:
df5.head()

                                                text  label
0  It's been about 14 years since Sharon Stone aw...      0
1  someone needed to make a car payment... this i...      0
2  The Guidelines state that a comment must conta...      0
3  This movie is a muddled mish-mash of clichés f...      0
4  Before Stan Laurel became the smaller half of ...      0

In [9]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corp = nltk.corpus.stopwords.words('english')
import string
punc = string.punctuation
punc = list(punc)
punc.remove('.')

In [10]:
refined = []
for z in range(0,len(df5)):
    a = str(df5['text'][z])
    # b = sent_tokenize(a)
    # c = [word_tokenize(i) for i in b]
    d = word_tokenize(a)
    e = []
    for i in d:
        if i not in corp:
            e.append(i)

    for i in e:
        if i in punc:
            e.remove(i)
            
    e = [ps.stem(i) for i in e]
        
    f = ' '.join(e)
    refined.append(f)

In [11]:
len(refined)

5000

In [12]:
df5['refined'] = refined

In [13]:
df5.head()

,text,label,refined
0,It's been about 14 years since Sharon Stone aw...,0,It 's 14 year sinc sharon stone award viewer l...
1,someone needed to make a car payment... this i...,0,someon need make car payment ... truli aw ... ...
2,The Guidelines state that a comment must conta...,0,the guidelin state comment must contain minimu...
3,This movie is a muddled mish-mash of clichés f...,0,thi movi muddl mish-mash cliché recent cinema ...
4,Before Stan Laurel became the smaller half of ...,0,befor stan laurel becam smaller half all-tim g...

In [17]:
tb_res = []
for i in range(0,len(df5)):
    a1 = TextBlob(df5['refined'][i])
    a2 = a1.polarity
    if a2>0:
        tb_res.append('Positive')
    elif a2<0:
        tb_res.append('Negative')
    else:
        tb_res.append('Neutral')

In [18]:
df5['prediction'] = tb_res

In [19]:
df5[df5['label']==1]

,text,label,refined,prediction
5,This is the best movie I've ever seen! <br /><...,1,thi best movi I 've ever seen br > br > mayb '...,Positive
6,The morbid Catholic writer Gerard Reve (Jeroen...,1,the morbid cathol writer gerard reve jeroen kr...,Positive
8,Somebody mastered the difficult task of mergin...,1,somebodi master difficult task merg sport roma...,Positive
10,This film takes you on one family's impossible...,1,thi film take one famili 's imposs journey mak...,Neutral
13,"This is very dated, but that's part of the cha...",1,thi date 's part charm 1933 movi . you say pre...,Positive
...,...,...,...,...
4995,"Man, I loved this movie! This really takes me ...",1,man I love movi thi realli take back I kid . t...,Positive
4996,Recovery is an incredibly moving piece of work...,1,recoveri incred move piec work handl devast ef...,Positive
4997,"You can take the crook out of the joint, but i...",1,you take crook joint seem exceedingli difficul...,Positive
4998,FUTZ is the only show preserved from the exper...,1,futz show preserv experiment theatr movement n...,Positive
4999,"""The Mother"" tells of a recently widowed mid-6...",1,`` the mother '' tell recent widow mid-60 's m...,Positive

In [20]:
df5.to_csv('wardha processes.csv')